---
title: Bank Statement Bot
---

<div class="welcome">
  <h1>Bank Statement CSV Modifier</h1>
  <p class="doc statement">
    Upload the CSV file downloaded from the bank..
    <input id="statement" type="file"/>
  </p><!-- .doc -->
</div><!-- .welcome -->